html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 1.428571429;
  color: #fff;
  background-color: #333;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #9A9A9A;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #9A9A9A;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-responsive-2 {
  display: block;
  width: auto;
  max-height: 100%;
}