html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  color: #333333;
  background-color: #000;
  font-family: "Roboto", Sans-serif;
  font-weight: 300;
  font-size: 28px;
  overflow: hidden;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #9A9A9A;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #9A9A9A;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

svg {
  position: absolute;
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: 1em;
}

h1 {
  font-size: 2.5em;
  font-weight: 300;
  margin: 0 0 24px;
}

h1:after {
  content: " ";
  width: 150px;
  margin-top: 24px;
  margin-left: 4px;
  border-bottom: 4px solid #9a614c;
  display: block;
}

h2 {
  font-weight: 300;
  font-size: 2.5em;
}

h3 {
  font-weight: 300;
  font-size: 1.25em;
}

hr {
  border-top: none;
  border-bottom: 2px solid #9a614c;
  width: 75px;
  display: inline-block;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul li {
  margin: 0 0 12px 12px;
  font-size: 1.5em;
}

ul li:before {
  color: #9a614c;
  content: "\2014   ";
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-responsive-2 {
  display: block;
  width: auto;
  max-height: 100%;
}

#GLCanvas,
#CSSCanvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

#reserveBut {
  color: #fff;
  background: #9a614c;
}

#reserveBut:hover {
  color: #9a614c;
  background: transparent;
}

#subscribeBut {
  color: #9a614c;
  background: transparent;
}

#subscribeBut:hover {
  color: #fff;
  background: #9a614c;
}


#cardBack {
  display: block;
  background: rgba(255, 255, 255, 0.5);
  width: 0px;
  height: 0px;
  transition: width 0.5s ease-in, height 0.5s ease-in;
}

#cardBack.active {
  transition: width 0.8s ease-out, height 0.8s ease-out;
}

#cardBack.inverted {
  background: rgba(0, 0, 0, 0.5);
}

#cardFore {
  display: block;
  color: #333333;
  padding: 24px;
  width: 0px;
  height: 0px;
  opacity: 0;
  transition: opacity 0.5s ease-in;
  &.active {
    opacity: 1;
    transition: opacity 1s 0.5s ease-out;
  }
  &.inverted {
    color: #fff;
    #closeX {
      .gray {
        stroke: #fff;
      }
    }
  }

  #closeX {
    top: 24px;
    right: 24px;
  }
  .col-item {
    margin-bottom: 24px;
  }
  .col-full {
    width: calc(100% - 24px);
    display: inline-block;
  }
  .col-half {
    width: calc(50% - 24px);
    display: inline-block;
  }
  #powertrainText {
    display: inline-block;
    vertical-align: top;
    margin-left: 24px;
  }
  .frontLightBut {
    margin-top: 48px;
    pointer-events: auto;
    cursor: pointer;
    svg {
      width: 40px;
      height: 40px;
      position: relative;
      margin-left: 12px;
    }
    .edge {
      fill: none;
      stroke-width: 3px;
      stroke: #333333;
      transition: all 0.5s ease-in-out;
    }
    .inner {
      fill: #fff;
      transform: scale(0);
      transform-origin: 20px 20px;
      transition: all 0.3s ease-in-out;
      opacity: 0;
    }
    p {
      margin-left: 12px;
      height: 20px;
      display: inline;
      font-size: 1.5em;
      font-weight: 300;
      vertical-align: top;
    }
    &.active {
      .edge {
        stroke: #9a614c;
        stroke-width: 3px;
      }
      .inner {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
} 

.svgSlider {
  position: absolute;
}

.svgSlider .knob {
  cursor: pointer;
  pointer-events: auto;
}

.svgSlider#powertrainSlider {
  width: 100px;
  height: 500px;
  position: relative;
}

.svgSlider#steeringSlider {
  top: 440px;
  left: 200px;
  width: 500px;
  height: 100px;
}

.svgSlider#rearSlider {
  top: 200px;
  left: 200px;
  width: 500px;
  height: 150px;
}

.svgSlider#rearSlider .lineArrow {
  stroke: #fff;
}

.lineArrow,
.lineDashed,
.lineDiamond {
  fill: none;
  stroke-width: 3px;
}

.circle {
  fill: #212934;
}

.lineDiamond {
  stroke: #9a614c;
  stroke-linejoin: round;
}

.lineArrow {
  stroke: #808080;
}

.lineDashed {
  stroke: #9a614c;
  stroke-dasharray: 16 8;
}

#closeX {
  position: absolute;
  cursor: pointer;
  pointer-events: auto;
}

#closeX .gray,
#closeX .tan {
  fill: none;
  stroke-width: 3px;
  transition: transform 0.3s ease-in-out;
  transform-origin: 45px 45px;
}

#closeX .tan {
  stroke: #9a614c;
}

#closeX .gray {
  stroke: #333333;
}

#closeX:hover .tan {
  transform: rotate(90deg);
}

#closeX:hover .gray {
  transform: rotate(-90deg);
}

#CSSCanvas>div:first-of-type {
  pointer-events: none;
}

.color-mid-gray {
  color: #808080;
}

.color-light-gray {
  color: #cccccc;
}

.borderTan {
  width: 95%;
  border-bottom: 3px solid #9a614c;
}

.borderGray {
  width: 50%;
  border-bottom: 3px solid #808080;
  display: inline-block;
}

p.caption {
  font-weight: 400;
  font-size: 1em;
}

p.copy {
  font-size: 1.75em;
  line-height: 1.1em;
}

